<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>My Project</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{% static 'MyApplication/js/jquery.min.js' %}"></script>
		<script src="{% static 'MyApplication/js/jquery.dropotron.min.js'%}"></script>
		<script src="{% static 'MyApplication/js/skel.min.js'%}"></script>
		<script src="{% static  'MyApplication/js/skel-layers.min.js'%}"></script>
		<script src="{% static 'MyApplication/js/init.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'MyApplication/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'MyApplication/css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'MyApplication/css/style-wide.css' %}" />
		</noscript>
	</head>
	<body>

    <div class="wrapper style1">
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="index.html"></a></h1>
							<span class="tag"></span>
						</div>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p><strong>This site provide you all the formulas, Questions, theory related to perform good in GATE or any other Engineering exam</strong></p>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1" style="height:10cm">
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/ic_network.jpg" alt=""></a>
									<div class="box">
										<a href="#" class="button">Networks</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/large_images/ic_edc.jpeg" alt=""></a>
									<div class="box">
										<a href="#" class="button">Electronic Device and Circuits</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/large_images/ic_signal.jpeg" alt=""></a>
									<div class="box">
										<a href="#" class="button">Signals And Systems</a> </div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/large_images/ic_vlsi.jpg" alt=""></a>
									<div class="box">
										<a href="#" class="button">VLSI</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/large_images/ic_semi.jpeg" alt=""></a>
									<div class="box">
										<a href="#" class="button"> Semiconductor Theory</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/large_images/ic_maths.jpg" alt=""></a>
									<div class="box">
										<a href="#" class="button">Maths</a> </div>
								</section>
							</div>
                            <div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/large_images/ic_emt.jpeg" alt=""></a>
									<div class="box">
										<a href="#" class="button">Electromagnetic Theory</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="/static/images/ic_english.jpeg" alt=""></a>
									<div class="box">
										<a href="#" class="button">English</a> </div>
								</section>
							</div>
						</div>
					</div>


	</div>

	<!-- Footer -->
    <div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
						<h2>Have Any Suggestion</h2>
						<span class="byline">We would love to hear from you</span>
					</header>
					<form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="name" placeholder="Name" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="email" id="email" placeholder="Email" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Send Message" class="button alt" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

	<!-- Copyright -->
{#    <div id="copyright">#}
{#			<div class="container">#}
{#				<div class="copyright">#}
{#					<ul class="icons">#}
{#						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>#}
{#						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>#}
{#						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>#}
{#					</ul>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}

	</body>
</html>